fastapi
uvicorn[standard]
python-multipart
pydantic[email]
pyjwt
httpx
python-dotenv
pydantic-settings
websockets
python-socks[asyncio]

# Testing
pytest
pytest-asyncio

# Logging
structlog

# Monitoring
prometheus-fastapi-instrumentator
